<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   FrenchVoca

   Created by 박인수 on 23/04/2019.
   Copyright (c) 2019 inswag. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
